page-check-out-confirm {
    text-align: center;
    p{
        ont-size: 4vw;
    }
    h1{
        margin-top: 9vh !important;
        font-weight: 100;
        margin-bottom: 7vh;
        font-size: 13vw;
    }
    .header-md::after{
        background-image: none !important;
    }
    .toolbar-background-ios{
        border: 0 !important;
    }
    
    ion-title{
        .toolbar-title-md{
            padding-right: 50px;
        }
    }
    ion-footer{
        button{
            width: 100%;
        }
    }
    .footer-md::before{
        background-image: none !important;
    }
}
