page-product-list {
    font-family: "Avenir Next";
    ion-title{
        width: 104% !important;
        .toolbar-title-md{
            padding-right: 50px;
        }
    }
    .banner {
        img{
            height: 11vh;
        }
        h4{
            bottom:15px;
        }
    }
}
