page-product-list {
    font-family: "Avenir Next";
    ion-title{
        padding-left: 68px !important;
        padding-right: 68px !important;

    }
    .banner {
        img{
            height: 11vh;
        }
        h4{
            bottom:15px;
        }
    }
}
