page-splashnext {
    letter-spacing: 3px;
    font-family: "Avenir Next";
        ion-header [class^="toolbar-background"] {
            border: none !important;
            background-color: transparent;
        }
        .header-md:after{
            background-image: none; 
        }
        > ion-content {
            > div.scroll-content, > div.fixed-content {
                margin-top: 0 !important;
            }
        }
        .toolbar-background {
            background: #fff;
            border-color: transparent;
          }
    
          .slider-img{
              img{
                height: 100vh !important;
                width: 100vw !important;
                object-fit: cover;
                position: relative;
            }
          }
          ion-navbar{
                button{
                    color: map-get($colors, light) !important;
                }
            }
          .slider-img::after{
            display: block;
            position: relative;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 110%);
            margin-top: -60vh;
            height: 60vh;
            width: 100%;
            content: '';
        }
        .slide-wrapper{
            position: relative;
        }
        .slide-content{
            position: absolute;
            bottom: 40px;
            right: 60px;
            left: 60px;
            text-align: center;
            color: map-get($colors, light);
            p{
                font-size: 15px;
            }
        }
        .cont-btn{
            position: absolute;
            bottom: 5px;
            right: 20px;
            button{
                background-color: transparent !important;
            }
        }
    }
    