page-product-prev {
    letter-spacing: 3px;
    font-family: "Avenir Next";
        ion-title{
            width: 104% !important;
        }
        ion-fab{
            z-index: 5 !important;
        }
        .no-scroll .scroll-content{
            overflow: hidden;
          }
        
        .prod-cont{
            position: relative;
            .prod-details{
                margin-top: -16px;
                color: white;
                background-color: rgba(0, 0, 0, 0.54);
                h5{
                    padding-top: 10px;
                    padding-left: 10px;
                }
                p{
                    margin-top: 0px;
                    padding-left: 10px;
                    padding-bottom: 10px;
                }
            }
            ion-slides{
                margin-top: -15px;
            }
            img{
                height: 73vh;
                width: 100vw;
                object-fit: cover;
            }
            h3{
                position: absolute;
                background-color: white;
                right: 0;
                top: 45vh;
                padding: 5px;
            }
        }
        .footer{
            background-color: rgba(0, 0, 0, 0.54);
            .ft-more{
                border-right-style: solid;
                border-right-color: rgba(255, 255, 255, 0.15);
                border-right-width: thin;
                >button{
                    background-color: transparent !important;
                }
            }
            .ft-stuff{
                margin-top: 4px;
                >img{
                    height: 10.28vw;
                    align-self: center;
                    display: block;
                    margin: auto;
                    border-radius: 3px;
                    box-shadow: -5px 3px rgba(255,255,255,0.25);
                    border-left: thin solid rgba(0, 0, 0, 0.62);
                    border-bottom: thin solid rgba(0, 0, 0, 0.62);
                    border-style: solid
                }
            }
            .ft-color{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-right-style: solid;
                border-right-color: rgba(255, 255, 255, 0.15);
                border-right-width: thin;
                border-left-style: solid;
                border-left-color: rgba(255, 255, 255, 0.15);
                border-left-width: thin;
                >button{
                    border-radius: 50%;
                    border-style: solid;
                    border-width: 2px;
                    width: 10.28vw;
                    height: 10.28vw;
                }
            }
            .ft-size{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                >button{
                    color: map-get($colors, light);
                    background-color: transparent;
                }
            }
            .ft-cart{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left-style: solid;
                border-left-color: rgba(255, 255, 255, 0.15);
                border-left-width: thin;
                >button{
                    background-color: transparent;
                    ion-icon{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .button-md{
            box-shadow: none !important;
        }
        ion-icon {
            &[class*="limitless-"] {
                // Instead of using the font-based icons
                // We're applying SVG masks
                mask-size: contain;
                mask-position: 50% 50%;
                mask-repeat: no-repeat;
                background: currentColor;
                width: 1em;
                height: 1em;
            }
            // custom icons
            &[class*="limitless-addcart"] {
                mask-image: url(../assets/img/if_cart-plus_1608607.svg);
            }
        }
        
    }
   