page-change-lang {
    
        ion-thumbnail{
            min-width: auto !important;
            min-height: auto !important;
            width: 33px !important;
            height: 22px !important;
            margin: 0 !important;
            ion-img{
                width: 33px !important;
                height: 22px !important;
                img{
                    width: 33px !important;
                    height: 22px !important;
                    object-fit: fill;
                }
            }
        }
        ion-label{
            margin-left:20px !important;
            text-align: left;
            font-size: 15px;
        }
        ion-list{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .activated{
            background-color: transparent !important;
        }
    }
    