page-create-account {
    letter-spacing: 3px;
    font-family: "Avenir Next";

    ion-title{
        .toolbar-title-md{
            padding-right: 50px;
        }
    }
    ion-label{
        font-size: 13px !important;
    }
    ion-item{
        font-size: 15px !important;
    }
}

