page-order-details {
    ion-title{
        width: 104% !important;
        .toolbar-title-md{
            padding-right: 50px;
        }
    }
    ion-content{
        background-color: #f3f3f3 !important;
    }
}
